rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regras de Acesso para Usuários e Parceiros do Catálogo Z8
    match /catalog_users/{userId} {
      allow read, write: if true;
    }

    // Regras de Acesso para Leads do CRM
    match /leads/{leadId} {
      allow read, write: if true;
    }

    // Regras de Acesso para Ordens de Serviço (Garantia)
    match /service_orders/{orderId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
